/* Import the chameleon theme, and for ViLLE chameleon-blue and some 
	ville-styles*/
@import "../chameleon/chameleon.scss";
@import "chameleon-blue.scss";

@mixin vexer-stub {

@include chameleon;
@include chameleon-blue;

font-family: 'Lato' !important;
	
	$primary-color-blue: #5E96E3;
	$primary-color-green: #16c316;
	$primary-color-red: #e75014;
	
	$color-gray-1: #2b2e30;
	$color-gray-2: #878a8d;
	$color-gray-3: #cfd0d0;
	$color-gray-4: #ededed;
	$color-gray-5: #fefefe;
	
	$color-light-gray: #f1f1f1;
	$color-light-red: #F8CAB8;
	
	/*used in quiz*/
	$color-yellow: #f1c40f;
	$color-dark-green: #27ae60;
	$color-dark-red:#d35400;
	
	$color-orange: #E07B13;
	$color-light-blue: #B7CAE2;
	$color-lighter-blue: #EDF2F8;
	$color-light-green: #2F992F;
	$color-light-orange: #D1863C;
	$color-lighter-orange: #F7DEC6;
	$color-lighter-green: #C0E0C0;
	

.stub-title {
	font-weight: bold;
	font-size: 24px;
	font-style: italic;
}

.stub-section-title {
	font-weight: bold;
	font-size: 16px;
}

.stub-header-bar {
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: white;
}

.stub-start {
	background-image: url(images/robot-bg.png);
}

.stub-start-controls {
	margin-top: 50px;
	border: 1px solid #3a6121;
	border-radius: 7px;
	background-color: white;
}

.studentexercise-description-panel {
	border: 1px solid #3a6121;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	background-image: url(images/exercise_menu_gradient.png);
	background-repeat: repeat-x;
	background-color: white;
	font-weight: bold;
}

.studentexercise-title{
	color: white;
	text-shadow: black 1px 1px 0px;
	font-weight: bold;
	font-size: 24px;
	font-style: italic;
	letter-spacing: 1px;
}

.studentexercise-submissioninfo{
	color: white;
	text-shadow: black 1px 1px 0px;
	font-weight: bold;
	margin-bottom: 20px;	
}

.studentexercise-description-panel .v-textfield {
	overflow: auto;
}

.info-panel {
	border: 1px solid black;
	margin: 20px;
	padding: 10px;
	background-color: #ff0000;
	color: white;
	font-weight: bold;
}

.v-window-header {
	font-weight: bold !important;
	color: white !important;
	text-shadow: none !important;
}

.v-window-wrap {
	background-image: url(images/gradient_win.png) !important;
	background-repeat: repeat-x;
}



div.v-loading-indicator, div.v-loading-indicator-delay, div.v-loading-indicator-wait {
    background: #fff url(images/villeloading.gif) no-repeat center;
    position: fixed !important;
    width: 48px;
    height: 48px;
    top: 10px;
    right: 10px;
    z-index: 30000;
    text-align: center;
	vertical-align: middle;
	
	border: 1px solid silver;
	background-color: rgb(249, 249, 249);
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
    
    /*
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100% ;
    opacity: 0.5;
    */
}



	.color-blue {
		color: $primary-color-blue;
	}
	
	.color-green {
		color: $primary-color-green;
	}
	
	.color-red {
		color: $primary-color-red;
	}
	
	.color-orange {
		color: $color-orange;
	}
	
	.color-light-blue {
		color: $color-light-blue;
	}
	
	.color-light-green {
		color: $color-light-green;
	}
	
	.color-light-orange {
		color: $color-light-orange;
	}
	
	.color-white {
		color: white;
	}
	
	.color-black{
		color: black;
	}
	
	
	.background-color-white {
		background-color: white;
	}
	
	.background-color-black {
		background-color: black;
	}
	
	.background-color-green {
		background-color: $primary-color-green !important;
	}
	
	.background-color-blue {
		background-color: $primary-color-blue !important;
	}
	
	.background-color-orange {
		background-color: $color-orange !important;
	}
	
	.background-color-gray {
		background-color: $color-gray-4 !important;
	}
	
	.background-color-light-blue  {
		background-color: $color-light-blue !important;
	}
	
	.background-blue-image  {
		background: url(img/bokeh_ville5.jpg) no-repeat center center fixed !important;
		-moz-background-size: cover !important;
		-webkit-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important; 	
}

	.icon-small{
		font-size: 10px;
	}
	
	.title, .container-white-none .title {
		font-size: 26px !important;
		line-height: 26px;
		font-weight: bold;
		padding: 10px 0;
	}
		
	.panel-title {
		font-size: 13px;
		font-weight: bold;
	}
	
	.list-panel-selected {
		background-color: $primary-color-blue !important;
	}
	
	.panel-content {
		font-size: 12px;
	}
	
	.panel-border-top {
		border-top: 1px solid $color-gray-2;
	}
	
	.panel-border-right {
		border-right: 1px solid $color-gray-2;
	}
	
	.panel-border-bottom {
		border-bottom: 1px solid $color-gray-2;
	}
	
	.panel-border-left {
		border-left: 1px solid $color-gray-2;
	}
	
	.panel-border-all {
		border: 1px solid $color-gray-2;
	}
	
	.panel-border-none{
	 	border: none;
	 }
	
	.text-align-left {
		text-align: left;
	}
	
	.text-align-center {
		text-align: center;
	}
	
	.text-align-right {
		text-align: right;
	}
	
	body, .ville-theme.v-app, .v-ui {
		margin: 0;
		padding: 0;
		background-color: #ffffff !important;
	}
	
	a {
		color: $primary-color-blue;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	/* Basic components */
	
	.ville-theme .v-widget {
		font-size: inherit;
	}
	
	.v-button, .v-disabled.v-button, .v-button.v-pressed, .v-button:focus, .v-button:active{
		display: inline-block;
		cursor: pointer;
		border: 1px solid $color-gray-2;
		border-radius: 0.2em;
	    -webkit-border-radius: 0.2em;
	    -moz-border-radius: 0.2em;
		padding: 5px 25px 4px 10px;
		background-color: $color-gray-5;
		background-image: none;
		box-shadow: 0 1px 2px $color-gray-2;
		
		.v-button-caption,
		.v-button-caption:active,
		.v-button-caption:focus {
			font-weight: bold;
			font-size: 14px !important;
			color: $color-gray-1;
			padding: 0;
			margin: -2px 0 0;
			display: inline-block;
		}
		
		.v-button-wrap {
			background: none;
			padding: 0;
		}
		
		.v-disabled.v-button {
			.v-button-caption {
				color: $color-gray-2;
			}
		}
		
	}
	
	.v-button.v-pressed, .v-button:active {
		background-color: $color-gray-4 !important;
	}
	
	.v-button-link, .v-disabled.v-button-link, .v-button-link.v-pressed, .v-button-link:focus, .v-button-link:active{
		display: inline-block;
		cursor: pointer;
		background-image: none;
		border: none;
		box-shadow: none;
		
		.v-button-caption {
			font-weight: bold;
			font-size: 14px !important;
			color: $primary-color-blue;
			padding: 0;
			margin: 0;
		}
		
		.v-button-caption:hover {
			text-decoration: none;
		}
		
		.v-button-wrap {
			background: none;
			padding: 0;
		}
		
		.v-disabled.v-button-link {
			.v-button-caption {
				color: $color-gray-2;
			}
		}
		
		
	}
	
	.v-button-link.v-pressed, .v-button-link:active {
		background-color: $color-gray-4 !important;
	}
	
	.only-icon {
		padding: 5px 10px;
		width: 35px;
		height:29px;
		margin-bottom: 3pt;
	}
	
	.only-icon .v-button-caption {
		margin: 0;
	}
	
	.window-control .v-button-caption {
		margin-top: 1px;
	}
	
	.contact-info {
		width: 157pt;
	}
	
	.only-icon .v-button, .icon-only .v-disabled.v-button, .v-button-only-icon {
		padding: 5px 10px !important;
	}
	
	.window-control {
		padding: 3px 5px;
		border: 1px solid $color-gray-4;
		background: transparent;
	}
	
	.window-control .v-button, .window-control .v-disabled.v-button, .v-button-window-control {
		padding: 3px 5px !important;
		border: 1px solid $color-gray-4 !important;
		background: transparent !important;
	}
	
	.v-menubar {
	        background: transparent;
	        background-image: none;
	        color: $primary-color-blue;
	        text-shadow: none;
	        height: 50px;
	        margin: 0;
	        padding: 0;
	        cursor: pointer;
	}
	
	
	.v-menubar .v-menubar-menuitem {
	        padding: 3px 8px;
	        height: 17px;
	        line-height: 16px;
	        cursor: pointer;
	}
	
	.v-menubar .v-menubar-menuitem img {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		padding: 2px;
		border: 1px solid gray;
	}
	
	.profile-image-small img {
		height: 40px;
		width: 40px;
		padding: 2px;
		border-radius: 50%;
		border: 1px solid gray;
	}
	
	.profile-image-large {
		font-size: 0;
	}
	
	.v-menubar .v-menubar-menuitem:hover {
		background: transparent;
		color: $primary-color-green;
	}
	
	.v-menubar .v-menubar-menuitem:hover i {
		background: transparent;
		color: $primary-color-green !important;
	}
	
	.v-menubar .v-menubar-menuitem-selected {
	        background-image: none;
	        background: transparent;
	        text-shadow: none;
	        color: $primary-color-green;
	}
	
	.v-menubar .v-menubar-menuitem-selected i{
	        background-image: none;
	        background: transparent;
	        text-shadow: none;
	        color: $primary-color-green !important;
	}
	
	.v-menubar-submenu {
	        background: #ffffff;
	        border: none;
	        border-radius: 3px;
	        -webkit-border-radius: 3px;
	        -moz-border-radius: 3px;
	        -o-border-radius: 3px;
	        overflow: hidden;
	        padding: 4px 0;
	        cursor: pointer;
	}
	.v-menubar-submenu .v-menubar-menuitem {
	        padding: 10px 26px 10px 10px;
	        line-height: 16px;
	        cursor: pointer;
	}
	
	.v-menubar-submenu .v-menubar-menuitem-selected {
	        background-image: none;
	        background: $color-gray-4;
	        text-shadow: none;
	        color: black;
	}
	
	
	/* Layout components */
	
	/* Header bar */
	.header-bar {
		color: $color-gray-2;
		border-bottom: 1px solid $color-gray-1;
		box-shadow: 0 5px 5px -5px $color-gray-2;
		background-color: #ffffff;
		margin: 0;
		div {
			font-size: 16px !important;
		}
	}
	
	.sub-header-green{
		height: 40px;
		background-color: $primary-color-green;
		background-image: url("img/layout/sub_header_bg.jpg");
		background-repeat: no-repeat;
		background-position: right;
		padding: 0 20px;
		color: white;
		
		.v-label {
			font-size: 18px;
		}
	}
	
	.sub-header-blue{
		background-color: $primary-color-blue;
		padding: 0 20px;
		color: white;
		border-top: 1px solid $color-gray-2;
		
		.v-label {
			font-size: 16px;
		}
	}
	
	.sub-header-black {
		background-color: black;
		padding: 0 10px;
		color: white;
		
		.v-label {
			font-size: 18px;
		}
	}
	
	
	
	.sub-header-green .v-button-link, .sub-header-green .v-disabled.v-button-link, .sub-header-green .v-button-link.v-pressed, .sub-header-green .v-button-link:focus, .sub-header-green .v-button-link:active{
		display: inline-block;
		cursor: pointer;
		background-image: none;
		background: transparent;
		text-shadow: none;
		border: none;
		box-shadow: none;
		
		.v-button-caption {
			font-size: 18px !important;
			font-weight: normal !important;
			text-decoration: none;
			color: white;
			padding: 0;
			margin: 0;
		}
		
		.v-button-caption:hover {
			text-decoration: underline;
		}
		
		.v-button-wrap {
			background: none;
			padding: 0;
		}
		
		.v-disabled.v-button-link {
			.v-button-caption {
				color: $color-gray-2;
			}
		}	
	}
	
	/* Containers, panels and buttons */
	
	.container-white {
		background-color: white;
		padding: 20px;
		.v-label {
			font-size: 12px;
		}
	}
	
	.container-white-small {
		background-color: white;
		padding: 10px;
		.v-label {
			font-size: 12px;
		}
	}
	
	.container-white-none {
		background-color: white;
		padding: 0;
		.v-label {
			font-size: 12px;
		}
	}
	
	.container-gray {
		background-color: $color-gray-4;
		padding: 10px;
		.v-label {
			font-size: 13px !important;
		}
	}
	
	.container-gray-small {
		background-color: $color-gray-4;
		padding: 10px;
		.v-label {
			font-size: 13px !important;
		}
	}
	
	.container-gray-none {
		background-color: $color-gray-4;
		padding: 0;
		.v-label {
			font-size: 13px !important;
		}
	}
	
	.list-container-gray {
		padding: 10px;
		background-color: $color-gray-4;
		border-top: 1px solid white;
		border-bottom: 1px solid $color-gray-2;
	}
	
	.list-container-contacts {
		padding: 10px;
		background-color: $color-gray-4;
		border: 1px solid $color-gray-2;
		margin-bottom: 5pt;
		width: 260pt;
		margin-left: 2.5pt;
		margin-right: 2.5pt;
	}
	
	.contacts-grid {
		margin-top: 25pt;
	}
	
	.contact-picture {
		border: 1px solid $color-gray-2;
		margin-right: 10pt;
		font-size: 0;
	}
	
	.message-box {
		margin: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 20px);
		border-radius: 0;
	}
	
	.lonely-info-panel {
		width: calc(100% - 200pt) !important;
		margin: 100pt;
	}
	
	.list-container-gray-unfolded{
		padding: 10px;
		background-color: white;
		border-top: 1px solid white;
	}
	
	.list-container-gray:hover{
		background-color: $color-gray-5;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.list-container-gray-unfolded:hover{
		background-color: $color-gray-5;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.list-container-gray-selected {
		padding: 10px;
		background-color: white;
		border-top: 1px solid white;
		border-bottom: 1px solid $color-gray-2;
	}
	
	.list-container-light-gray {
		padding: 10px;
		background-color: $color-gray-5;
		border-top: 1px solid white;
	}
	
	.list-container-light-gray:hover{
		background-color: white;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.list-container-light-gray-selected {
		padding: 10px;
		background-color: white;
		border-top: 1px solid white;
	}
	
	.button-container-gray {
		background-color: $color-gray-3;
		padding: 5px 20px;
	}
	
	.info-container {
		margin-bottom: 30px;
		div {
			font-size: 16px;
		}
	}
	
	.large-panel-button{
		border: 2px solid $primary-color-blue;
		padding: 10px 20px;
		border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    color: $primary-color-blue;
	    cursor: pointer;
	    box-shadow: 0 1px 2px $color-gray-2;
	    div {
	    	cursor: pointer;
	    }
	}
	
	.large-panel-button:hover {
		border: 2px solid $primary-color-green;
	}
	
	.warning-panel {
		padding: 10px 20px;
		border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    color: white;
	    background-color: $color-orange;
	    box-shadow: 0 2px 0px $color-gray-4;
	}
	
	.information-panel {
		padding: 10px 20px;
		border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    color: white;
	    background-color: $primary-color-blue;
	    box-shadow: 0 2px 0px $color-gray-4;
	}
	
	.teacher-menu-item {
		padding: 10px 20px;
		color: white;
		cursor: pointer;
		div {
			color: white;
			cursor: pointer;
		}
		font-weight: bold;
		background-color: #000;
	}
	
	.teacher-menu-item:hover {
		background-color: $color-gray-2;
	}
	
	.teacher-sub-menu-item {
		background-color: $color-gray-1;
		padding: 10px 20px 10px 30px;
		color: $color-gray-4;
		cursor: pointer;
		div {
			color: $color-gray-4;
			cursor: pointer;
		}
		font-weight: bold;
	}
	
	.teacher-sub-menu-item-folded {
		background-color: $color-gray-1;
		padding: 10px 20px;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.teacher-sub-menu-item:hover {
		background-color: $color-gray-2;
	}
	
	.teacher-sub-menu-item-folded:hover {
		background-color: $color-gray-2;
	}
	
	.selected {
		background-color: $primary-color-green !important;
		color: white;
		i {
			color: white;
		}
	}
	
	/* Other components */
	
	.progress_panel {
		font-size: 12px;
	}

	.progress_panel .done {
		margin: 0;
		padding: 0;
		background-color: $primary-color-green;
		border: 1px solid black;
	}
	
	.progress_panel .todo {
		margin: 0;
		padding: 0;
		background-color: white;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		border-right: 1px dotted black;
	}
	
	.progress_panel .undone {
		margin: 0;
		padding: 0;
		background-color: white;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		border-right: 1px solid black;
	}
	
	.progress_panel .begin_undone {
		margin: 0;
		padding: 0;
		background-color: white;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px dotted black;
	}
	
	.progress_panel .limit_right {
		margin: 0;
		padding: 0;
		padding-left: 3px;
		font-weight: normal;
		border-left: 1px dotted black;
	}
	
	.progress_panel .limit_left {
		margin: 0;
		padding: 0;
		padding-right: 3px;
		font-weight: normal;
		border-right: 1px dotted black;
		text-align: right;
	}
	
	.progress_panel .score_right {
		margin: 0;
		padding: 0;
		padding-left: 3px;
		font-weight: normal;
		border-left: 1px solid black;
	}
	
	.progress_panel .score_left {
		margin: 0;
		padding: 0;
		padding-right: 3px;
		font-weight: normal;
		border-right: 1px solid black;
		text-align: right;
	}
	
	.progress_panel .all_undone {
		margin: 0;
		padding: 0;
		background-color: white;
		border: 1px solid black;
	}
	
	.progressmeter_bar_complete{
		background-image: url(images/rating_up.png);
		background-repeat: repeat-x;
		background-color: green;
	}
	
	.progressmeter_bar_incomplete{
		background-image: url(images/rating_down.png);
		background-repeat: repeat-x;
		background-color: red;
	}
	
	.progressmeter_percent_label{
		font-size: 11px;
		font-color: #555555;
		margin-left: 10px;
	}
	
	.deadline-more-than-day{
		background-color: $primary-color-green;
		color: white;
		padding: 2px 10px;
		border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	 }
	 
	 .deadline-less-than-day{
		background-color: $primary-color-red;
		color: white;
		padding: 2px 10px;
		border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	 }
	 
	 .deadline-gone{
		background-color: $color-gray-3;
		padding: 2px 10px;
		border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	 }
	 
	 .small_deadline_label{
	 	font-size: 11px !important;
	 	font-weight: bold;
	 }
	 
	 /* Browser */
	 .browser-thumbnail{
	 	padding: 10px;
	 	background-color: white;
	 	box-shadow: 1px 1px 2px $color-gray-2;
	 	border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    margin: 10px;
	 }
	 
	 .browser-thumbnail-caption{
	 	font-size: 11px;
	 	font-weight: bold;
	 	color: $primary-color-blue;
	 }
	 
	 .browser-thumbnail:hover{
	 	background-color: $color-lighter-blue;
	 	cursor:pointer;
	 	div{
	 		cursor:pointer;
	 	}
	 }
	 
	 /* Thumbnail for white background */
	 .item-thumbnail{
	 	padding: 10px;
	 	background-color: $color-gray-4;
	 	box-shadow: 1px 1px 2px $color-gray-2;
	 	border-radius: 7px;
	    -webkit-border-radius: 7px;
	    -moz-border-radius: 7px;
	    margin: 10px;
	 }
	 
	 .item-thumbnail-caption{
	 	font-size: 11px;
	 	font-weight: bold;
	 	color: $primary-color-blue;
	 }
	 
	 .item-thumbnail:hover{
	 	background-color: white;
	 	cursor:pointer;
	 	div{
	 		cursor:pointer;
	 	}
	 }
	 
	.round-title-bar {
		padding: 10px;
		background-color: $color-light-blue;
		border-top: 1px solid white;
		border-right: 1px solid $color-gray-2;
		border-bottom: 1px solid $color-gray-2;
	}
	 
	.round-title-bar:hover{
		background-color: $color-lighter-blue;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.round-title-bar-exam {
		padding: 10px;
		background-color: $color-light-orange;
		border-top: 1px solid white;
		border-right: 1px solid $color-gray-2;
		border-bottom: 1px solid $color-gray-2;
	}
	 
	.round-title-bar-exam:hover{
		background-color: $color-lighter-orange;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.round-title-bar-tutorial {
		padding: 10px;
		background-color: $color-light-green;
		border-top: 1px solid white;
		border-bottom: 1px solid $color-gray-2;
	}
	 
	.round-title-bar-tutorial:hover{
		background-color: $color-lighter-green;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.round-title-bar-closed {
		padding: 10px;
		background-color: $color-gray-3;
		border-top: 1px solid white;
		border-right: 1px solid $color-gray-2;
		border-bottom: 1px solid $color-gray-2;
	}
	 
	.round-title-bar-closed:hover{
		background-color: $color-gray-4;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.round-title-bar-new {
		color: white;
		padding: 10px;
		background-color: white;
		border-top: 1px solid white;
		border-right: 2px dotted $color-gray-2;
		border-bottom: 2px dotted $color-gray-2;
		border-left: 2px dotted $color-gray-2;
		div {
			font-size: 14px !important;
		}
	}
	 
	.round-title-bar-new:hover{
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.round-item {
		padding: 5px;
	}
	
	.round-item:hover {
		background-color: $color-light-blue;
	}
	
	.add-assignments-menu-item {
		background-color: $color-gray-4;
		padding: 5px;
		border: 1px solid black;
		border-radius: 7px !important;
		-moz-border-radius: 7px !important;
		-webkit-border-radius: 7px !important;
		box-shadow: 0 3px 3px $color-gray-2;
	}
	
	.add-assignments-menu-item:hover {
		background-color: white;
		cursor: pointer;
		div {
			cursor: pointer;
		}
	}
	
	.add-assignments-menu-item-selected {
		background-color: white;
		padding: 5px;
		border: 1px solid black;
		border-radius: 7px !important;
		-moz-border-radius: 7px !important;
		-webkit-border-radius: 7px !important;
		box-shadow: 0 3px 3px $color-gray-2;
	}
	
	.drag-and-drop-layout{
		border: 1px dotted $primary-color-blue;
		border-radius: 7px !important;
		-moz-border-radius: 7px !important;
		-webkit-border-radius: 7px !important;
		padding: 10px;
		
	}
	
	.drag-and-drop-layout:hover{
		border: 1px solid $primary-color-blue;
	}
	
	.assignment-title-folded{
		background-color: $primary-color-blue;
		padding: 0 20px;
		color: white;
		border-top: 1px solid $color-gray-2;
		cursor: pointer;
		box-shadow: 0 3px 3px $color-gray-2;
		
		.v-label {
			font-size: 16px;
		}
		
		div{
			cursor: pointer;
		}
	}
	

	
	/* THE SPEECH BUBBLE FOR COMMENTS: LEFT AND RIGHT VARIANTS */
	
	.comment-bubble-left {
	  position:relative;
	  padding:15px;
	  margin:10px 0;
	  border:2px solid $color-gray-2;
	  color:#333;
	  background:#fff;
	  /* css3 */
	  -webkit-border-radius:10px;
	  -moz-border-radius:10px;
	  border-radius:10px;
	}
		
	.v-slot-comment-bubble-left:before {
	  content:"";
	  position:absolute;
	  bottom:-4px; /* value = - border-top-width - border-bottom-width */
	  left:10px; /* controls horizontal position */
	  border-width:20px 20px 0;
	  border-style:solid;
	  border-color:$color-gray-2 transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}
	
	/* creates the smaller  triangle */
	.v-slot-comment-bubble-left:after {
	  content:"";
	  position:absolute;
	  bottom:-1px; /* value = - border-top-width - border-bottom-width */
	  left:17px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	  border-width:13px 13px 0;
	  border-style:solid;
	  border-color:#fff transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}
	
		
	.comment-bubble-right {
	  position:relative;
	  padding:15px;
	  margin:10px 0;
	  border:2px solid $color-gray-2;
	  color:#333;
	  background:#fff;
	  /* css3 */
	  -webkit-border-radius:10px;
	  -moz-border-radius:10px;
	  border-radius:10px;
	}
		
	.v-slot-comment-bubble-right:before {
	  content:"";
	  position:absolute;
	  bottom:-4px; /* value = - border-top-width - border-bottom-width */
	  right:10px; /* controls horizontal position */
	  border-width:20px 20px 0;
	  border-style:solid;
	  border-color:$color-gray-2 transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}
	
	/* creates the smaller  triangle */
	.v-slot-comment-bubble-right:after {
	  content:"";
	  position:absolute;
	  bottom:-1px; /* value = - border-top-width - border-bottom-width */
	  right:17px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	  border-width:13px 13px 0;
	  border-style:solid;
	  border-color:#fff transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}
	
	.margin-bottom-15 {
		margin-bottom: 15px;
	}	


.light-blue-bubble {
	background: $color-lighter-blue !important;
	border: 1px solid rgba(100,100,100, 0);
	border-radius: 5px;
	padding: 10px;
}

.light-blue-bubble .bubble-layout-gray {
	background: #ffffff;
	margin: 0px;
}

.dark-blue-bubble {
	background: $color-light-blue !important;
	border: 1px solid rgba(100,100,100, 0);
	border-radius: 5px;
	padding: 10px;
}

.dark-blue-bubble .bubble-layout-gray {
	background: #ffffff;
}

div.v-button.borderless {
	border:0px !important;
	box-shadow: none !important;
	background: none !important;
	background-color: transparent !important;
	background-image:none !important;
}


.bubble-layout-gray {
	background: $color-gray-4; 
	border-radius: 5px; 
	border: 1px solid $color-gray-4;
	display:block;
	padding: 10px;	
	height:100%;
	margin-right: 10px;
}

.v-panel.panel-nostyle, 
.v-panel-content-panel-nostyle, 
.v-slot-panel-nostyle,
.v-panel-deco-panel-nostyle,
.v-panel-nocaption-panel-nostyle {
	border: 0px !important; 
	background: none !important; 
	box-shadow: none !important;
	background-color:transparent;
	border-image:none !important;
}


	
.dialog_info_panel{
	background-color: #578bce;
	background-image: url(images/info_bg.png);
	background-repeat: no-repeat;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	
	border: 2px solid #305eb2;
	color: white;
	text-shadow: #1b598b 2px 2px 2px;
	padding: 10px;
	padding-left: 70px;
}

.dialog_warning_panel{
	background-color: #de9a42;
	background-image: url(images/warning_bg.png);
	background-repeat: no-repeat;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	
	border: 2px solid #b2560c;
	color: white;
	text-shadow: #b2560c 2px 2px 2px;
	padding: 10px;
	padding-left: 70px;

}

.dialog_error_panel{
	background-color: #cf3c06;
	background-image: url(images/error_bg.png);
	background-repeat: no-repeat;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;	
	border: 2px solid #9f1800;
	color: white;
	text-shadow: #9f1800 2px 2px 2px;
	padding: 10px;
	padding-left: 70px;
}


.ville-dashed-border {
	border-style:dashed;
	border-width:1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	
}

.ville-mild-bg {
	background: -moz-linear-gradient(right top 225deg, #C4D8FF, #fff);
	background: -webkit-gradient(linear, right top, left bottom, from(#C4D8FF), to(#fff)); 
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.large_panel_button {
	background-color: white;
	padding: 10px;
	border: 2px solid #aaaaaa;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	font-family: "Georgia";
	font-style: italic;
	cursor: pointer !important;
}

.large_panel_button div {
	cursor: pointer !important;
}

.large_panel_button:HOVER {
	background-image:url(images/gradient3.png);
	background-repeat: repeat-x;
	background-color: #51e52b;
	border: 2px solid black;
}


}

