/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

@import "../../../VAADIN/themes/ville-standardutils/ville-standardutils.scss";
@import "../../../VAADIN/themes/vexer-stub/vexer-stub.scss";
@import "../../../VAADIN/themes/vexer-${artifactId}/vexer-${artifactId}.scss";

/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
	@include ville-standardutils;
	@include vexer-stub;
	@include vexer-${artifactId};
}